.textbox {
    margin-top: 10px;
    margin-right: 10px;

    width: 30%;
    max-width: 300px;

    padding: 10px 10px;
    border: 1px solid #463A4F;
    border-radius: 5px;
    font-size: 16px;
    font-family: Georgia, serif;
    outline: none;
}
